* {
    margin:0;
    padding:0;
}

/* Creo un blocco unico per i contenitori */

.blocco {
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    
}

/* Contenitori img background */

.roma {
    background-image: url(immagini/roma.jpg);
}


.copenaghen {
    background-image: url(immagini/copenaghen.jpg);   
}


.tokyo {
    background-image: url(immagini/tokyo.jpg);    
}
 
/* Metto un titolo con una classe univoco */

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
}

/* aggiungo opacità background */

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3)
}