* {
    padding: 0;
    margin: 0;
}
.blocco {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.roma {
    background-image: url(immagini/roma.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    
}

.copenaghen {
    background-image: url(immagini/copenaghen.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.tokyo {
    background-image: url(immagini/tokyo.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
